<div>tothe</div>
<div class="tiles">
    <a href="#welcome"><div class="tile" data-scale="1.8" message="Welcome" data-image="https://rosemary-network.s3.filebase.com/solarpunk-named/piccolo.jpg"></div></a>
    <a href="#tothe"><div class="tile" data-scale="1.8" message="to the" data-image="https://rosemary-network.s3.filebase.com/solarpunk-named/mushroom_view.jpg"></div></a>
    <a href="#newworld"><div class="tile" data-scale="1.8" message="new world." data-image="https://rosemary-network.s3.filebase.com/solarpunk-named/playground.jpg"></div></a>
</div>
